<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hifriends">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/logom"
        android:label="HiFriends"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiFriends"
        android:requestLegacyExternalStorage="true"
        tools:targetApi="q">
        <activity
            android:name="com.example.hifriends.OptionsActivity"
            android:exported="true" />
        <activity
            android:name="com.example.hifriends.FollowersActivity"
            android:exported="true" />
        <activity
            android:name="com.example.hifriends.EditProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.example.hifriends.CommentsActivity"
            android:exported="true" />
        <activity
            android:name="com.example.hifriends.PostActivity"
            android:exported="true" />
        <activity
            android:name="com.example.hifriends.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.example.hifriends.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.example.hifriends.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.example.hifriends.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>